{if $is_mobile==1}
{include file="./common/mheader"}
<div class="main_top">
    个人信息及隐私保护政策
    <a href="javascript:history.back(-1);" class="back"><img src="/public/wap/img/left_icon.png" alt=""></a>
    <a class="kf_right"><img src="/public/wap/img/kf_icon.png" alt=""></a>
</div>
{else}
{include file="./common/header"}
<link rel="stylesheet" type="text/css" href="/public/pc/css/news.css?v=2021"/>
{include file="./common/nav"}
{/if}
<div class="container" style="padding: 15px">
    <div class="news_con">
        <div class="news_con_head">
            <h1>要销卡的用户个人信息及隐私保护政策</h1>
        </div>
        <p class="news_con_main">

            重要须知：深圳宏信智联科技有限公司旗下的要销卡二手卡回收平台（下称“要销卡”）一贯重视用户的个人信息及隐私的保护，在您使用要销卡的服务时，要销卡有可能会收集和使用您的个人信息。为此，要销卡通过本《要销卡用户个人信息及隐私保护政策》（以下简称“本《隐私政策》”）向您说明您在使用要销卡的服务时，要销卡是如何收集、存储、使用和分享这些信息的，以及要销卡向您提供的访问、更新、控制和保护这些信息的方式。<br>
            <span style="text-decoration:underline"><b>本《隐私政策》与您使用要销卡的服务息息相关，请您务必仔细阅读、充分理解</b></span>（未成年人应当在其监护人的陪同下阅读）。
            <br>
            您如果使用或者继续使用要销卡的服务，即视为您充分理解并完全接受本《隐私政策》；您如果对本《隐私政策》有任何疑问、异议或者不能完全接受本《隐私政策》。<br>

            <br><br><b>第一条：</b>本《隐私政策》所述的个人信息类型包括：
            1. 注册信息（如，用户名、及在注册过程中提供的其他信息等）；<br>
            2. 个人联系方式（如，姓名、通讯地址、电邮地址、电话、手机号码）；<br>
            3. 订单信息（如，收货人名称、货货地址、电邮地址和电话号码等与订单相关的任何信息； 在交付文件上的签名；网站帐户及帐户信息；为帮助我们提供服务（包括特定服务）而提供给我们的信息）；<br>
            4. 用于您身份识别的信息（如，身份证号码、身份证证件照）；<br>
            5. 支付信息（如，订单支付详情）和财务信息（如，银行账号、支付宝）；<br>
            6. 其他个人、公司、单位、或社会实体信息。<br>
            7. 一般情况下，用户可以匿名访问要销卡网站查看相关的服务文档。当我们需要能识别您的个人信息或者可以与您联系的信息时，我们会征求您的同意。
            但在注册要销卡或申请要销卡某项服务时，我们可能会收集这些信息:手机号码、银行卡信息、身份信息、Email地址，并征求你的确认。<br>
            8. 同时，我们非常重视对未成年人个人信息的保护。我们不希望未成年人直接使用人要销卡平台网站提供的产品或服务，如果您是未成年人，请与您监护人一起或在监护人的监督下使用本网站的产品或服务。<br>

            <br><br><b>第二条：</b>您承诺并保证：您主动填写或者提供给要销卡的个人信息是真实的、准确的、完整的。而且，填写或者提供给要销卡后，如果发生了变更的，您会在第一时间内，通过原有的渠道或者要销卡提供的新的渠道进行更新，以确保要销卡所获得的您的这些个人信息是最新的、真实的、准确的和完整的；否则，要销卡无须承担由此给您造成的任何损失。

            <br><br><b>第三条：</b>
            您应当重视您的个人信息的保护，您如果发现您的个人信息已经被泄露或者存在被泄露的可能，且有可能会危及您注册获得的要销卡账户安全，或者给您造成其他的损失的，您务必在第一时间通知要销卡，以便要销卡采取相应的措施确保您的要销卡账户安全，防止损失的发生或者进一步扩大；否则，要销卡无须承担由此给您造成的任何损失（及扩大的损失）。
            <br><br><b>第四条：</b>
            您充分理解并完全接受：您在使用要销卡的服务时，要销卡遵循“合法、正当、必要”原则，有可能会收集您的如下信息（以下统称“用户信息”）：<br>
            1. 您在访问或使用本网站服务时提供的个人信息及行为数据（包括但不限于订单下达及取消数据、退货退款申请数据、账户余额、交易纠纷数据等）；<br>
            2. 您在与我们的沟通中自动获取的信息：无论您何时与我们沟通，我们接收并存储的信息；<br>
            3. 从其他来源获取的信息：如，您提供给第三方或者向第三方披露的个人信息及隐私；<br>
            4. 您所使用的台式计算机、移动设备的品牌、型号、IP地址、地理位置信息以及软件版本信息。<br>
            <br><br><b>第五条：</b>您具有如下用户权利：
            1.
            要销卡不定期通过邮件、短信、app推送等形式，对本网站用户发送订单信息、促销活动等信息，您在注册成为要销卡会员时，表示您已同意接受该类信息，如果您不想接收该类信息，您可以向要销卡客户服务提出退订申请，要销卡会在收到申请后为您办理退订。<br>
            2. 您通过具有定位功能的移动设备登录、使用要销卡的App时，有权决定要销卡是否通过GPS或者Wifi收集您的地理位置信息；您如果不同意收集，您在您的移动设备上关闭此项功能。<br>
            3.
            如您发现要销卡违反法律、行政法规的规定或者双方的约定收集、使用个人信息的，有权要求要销卡删除您的个人信息及注销账号；您可向要销卡客户服务提出申请，要销卡核实用户身份及信息后，在不违背法律、法规及监管政策的原则下，将采取措施予以删除。<br>
            4. 如您发现要销卡收集、存储的个人信息有错误的，有权要求要销卡予以更正。<br>
            <br><br><b>第六条：</b>您充分理解并完全接受：保护用户信息是要销卡一贯的政策，要销卡将会使用各种安全技术和程序存储、保护用户信息，防止其被未经授权的访问、使用、复制和泄露。我们不会向第三方出售或以其他方式共享您的个人信息，但存在下列任何一项情形除外：
            1. 根据国家法律、法规及法律程序的规定；<br>
            2. 根据政府部门（如行政机构、司法机构）的要求；<br>
            3. 与我们的关联公司共享相关信息；<br>
            4. 为保护要销卡或您的合法权益而披露；<br>
            5. 用户本人或其监护人授权披露；<br>
            6. 应用户的监护人的合法要求而向其披露。<br>
            除以上规定及本《隐私政策》已列明的情况外，当您的信息有可能披露给第三方时，您将会得到通知，并且您将有机会选择不与第三方共享此信息。<br>
            要销卡即便是按照条款约定将用户信息披露给第三方，亦会要求接收上述用户信息的第三方严格按照国家法律法规使用和保护用户信息。
            <br><br><b>第七条：</b>您充分理解并完全接受：即便是要销卡采取各种安全技术和程序存储、保护用户信息，防止其被未经授权的访问、使用、复制和泄露，但用户信息仍然有可能发生被黑客攻击、窃取，因不可抗力或者其他非要销卡的自身原因而被泄露的情形。对此，只要是要销卡采取了必要的措施防止上述情形之发生，并在上述情形发生之后及时通知用户信息泄露的情况，并采取必要的措施防止其损失进一步扩大，要销卡则无须赔偿由此给您造成的任何损失。
            <br><br><b>第八条：</b>您充分理解并完全接受：为向您提供服务、提升我们的服务质量以及优化您的服务体验，我们会在符合法律规定下使用您的个人信息，并主要用于下列用途：
            1. 在您登录要销卡网站或者App时，用于验证您的身份、为您提现余额、售后服务以及其他客户服务；<br>
            2. 帮助要销卡分析、了解用户需求，设计新的商业模式，或将其用于要销卡所开展的新业务当中；<br>
            3. 向您推荐您可能感兴趣的产品或服务信息。如您不希望接收上述信息，可通过相应的退订功能进行退订；<br>
            4. 评估和改进要销卡服务中的广告和其他促销及推广活动效果；<br>
            5. 要销卡网站或者App软件版本的升级、改版；<br>
            6. 可能使用您的个人信息用于预防和追究各种违法、犯罪活动或违反我们政策规则的行为，以保护您、其他要销卡用户，或要销卡的合法权益；<br>
            7. 其他的用于改进要销卡的服务、提升用户体验的目的。<br>
            要销卡仅在本《隐私政策》所述目的所必需期间和法律法规要求的时限内保留您的个人信息。<br>
            随着我们业务的发展，我们及我们的关联方有可能进行合并、收购、资产转让或类似的交易，您的个人信息有可能作为此类交易的一部分而被转移。我们将在转移前通知您。
            <br><br><b>第九条：</b>您可以访问和更新您的个人信息。您可以在要销卡页面的“我的账户”菜单中查阅您提交给要销卡的个人信息。如果您需要更新，也可以在该页面重置信息后提交给要销卡。或者联系要销卡客服予以更新。如果您需要注销账号，请务必亲自联系要销卡客服处理。
            <br><br><b>第十条：</b>您充分理解并完全接受：要销卡或者为实现第八条所述目的而接收了要销卡提供的用户信息的第三方企业或者公司发生合并或者分立，那么合并或者分立后企业或者公司仍然有权按照本《隐私政策》及其他相关约定收集、存储、保护、使用和分享用户信息，而无须另行征得您的同意。
            <br><br><b>第十一条：</b>我们非常重视对未成年人个人信息的保护。我们不希望未成年人直接使用要销卡网站提供的产品或服务，如果您是未成年人，请与您监护人一起或在监护人的监督下使用本网站的产品或服务。
            <br><br><b>第十二条：</b>您充分理解并完全接受：本《隐私政策》已经向您充分说明了要销卡是如何收集、存储、使用、保护以及分享您的用户信息，除了您对本《隐私政策》存在疑问或者异议，可以询问要销卡客户服务部外，要销卡没有义务另行以其他书面的方式再向您说明其用户个人信息及隐私保护政策。但如果要销卡有另行书面说明，且与本《隐私政策》相矛盾或者不一致的，以另行书面说明的为准；未尽事宜，仍以本《隐私政策》为准。
            <br><br><b>第十三条：</b>本《隐私政策》条款是可分的，所约定的任何条款如果部分或者全部无效，不影响该条款其他部分及本协议其他条款的法律效力。
            <br><br><b>第十四条：</b>要销卡基于本《隐私政策》及其补充约定的有效弃权必须是书面的，并且该弃权不能产生连带的相同或者类似的弃权。
            <br><br><b>第十五条：</b>本《隐私政策》是《要销卡用户服务协议》不可分割的组成部分，与之具有同等的法律效力；本《隐私政策》与《要销卡用户服务协议》不一致或者矛盾的地方，适用本《隐私政策》；未涉及的内容，仍适用《要销卡用户服务协议》。
            <br><br><b>第十六条：</b>要销卡有可能会适时变更本《隐私政策》，一经变更，要销卡将会按照此前的渠道或者可以用户知晓的其他渠道对外进行公布，必要的时候，要销卡将会在要销卡网站、App显著的位置或者以发送电子邮件的方式提醒您。修订后的《隐私政策》即取代修订前的《隐私政策》而产生相应的法律效力。如果您对于本隐私政策或在使用要销卡服务时对于您的个人信息或隐私情况有任何问题，请联系要销卡客服并作充分描述，要销卡将尽力解决。也请您务必关注并了解本《隐私政策》的变更，且一经变更，如果您继续使用要销卡的服务，即视为您充分理解并完全接受变更后的本《隐私政策》。
        </p>
    </div>
    {if $is_mobile!=1}
    <div class="news_right">
        <div class="service_list">
            <a href="/about/service" target="_blank" rel=“nofollow”>服务协议</a>
            <a href="/about/protocol" target="_blank" rel=“nofollow”>转让协议</a>
            <a href="/about/ze" target="_blank" rel=“nofollow”>免责申明</a>
            <a href="/about/privacy" class="active" target="_blank" rel=“nofollow”>隐私政策</a>
            <div class="clear"></div>
        </div>
        <div class="line_mid"></div>
        <div class="news_right_ewm">
            <h3>关注要销卡</h3>
            <img src="/public/pc/picture/qrcode1.jpg" class="ewm" alt="要销卡二维码">
            <p>扫描上方二维码<br>掌握要销卡最新活动</p>
        </div>
    </div>
    <div class="clear"></div>
    {/if}
</div>
{if $is_mobile==1}
{include file="./common/mfooter"}
{else}
{include file="./common/footer"}
{/if}
