{if $is_mobile==1}
{include file="./common/mheader"}
<div class="main_top">
    礼品卡转让协议
    <a href="javascript:history.back(-1);" class="back"><img src="/public/wap/img/left_icon.png" alt=""></a>
    <a class="kf_right"><img src="/public/wap/img/kf_icon.png" alt=""></a>
</div>
{else}
{include file="./common/header"}
<link rel="stylesheet" type="text/css" href="/public/pc/css/news.css?{:time()}"/>
{include file="./common/nav"}
{/if}
<div class="container" style="padding: 15px">
    <div class="news_con">
        <div class="news_con_head">
            <h1>要销卡礼品卡转让协议</h1>
        </div>
        <p class="news_con_main">
            要销卡礼品卡转让协议（以下称“本协议”）是深圳宏信智联科技有限公司旗下的要销卡二手卡回收平台（以下称“要销卡”）与要销卡用户（以下称“用户”或“您”）就礼品卡转让服务（或称”本服务”）所订立的有效合约。<span
                style="text-decoration:underline"><b>用户通过网络页面点击确认或以其他方式选择接受本协议，即表示用户与本平台已达成协议并同意接受本协议的全部约定内容</b></span>。
            <br /><br />
            在接受本协议之前，请用户仔细阅读本协议的全部内容（特别是以<span style="text-decoration:underline"><b>粗体下划线</b></span>标注的内容）。<span style="text-decoration:underline"><b>如果您不同意本协议的任意内容，或者无法准确理解本平台对条款的解释，请不要进行后续操作</b></span>。
            <br /><br />
            <b style="color: #00bc6e">第一条：相关定义</b><br />
            1. <b>礼品卡</b>：本协议所称礼品卡，是指电子商务卡、商城超市卡、游戏充值卡、话费充值卡、旅游预付卡、石油预付充值卡等业务运营商发行的具有一定面值、可用于购买商品或服务的卡片；<br />
            2. <b>礼品卡转让</b>：本协议所称礼品卡转让，是指本平台提供的礼品卡转让服务。用户可将其持有的礼品卡，转让给本平台或本平台合作商户，转让所得的金额将直接转入用户要销卡的账户余额中。具体支持的礼品卡卡种以用户使用本服务时的页面提示为准。<br /><br />
            <b style="color: #00bc6e">第二条：费用</b><br />
            1. <span style="text-decoration:underline"><b>用户使用本服务需要支付一定的手续费，手续费已包含在礼品卡的回收价中</b></span>；<br />
            2. <span style="text-decoration:underline"><b>如果用户选项加急服务，另需支付加急的费用，具体费用由要销卡提交礼品卡的页面提示为准，加急服务费将直接从到账金额中扣除</b></span>。<br /><br />
            <b style="color: #00bc6e">第三条：权利义务</b><br />
            1. <span style="text-decoration:underline"><b style="color: #ff5c38">使用本服务的用户，需通过要销卡用户实名制度（验证本人手机号码，完成支付宝芝麻信用授权认证），并签署《要销卡用户承诺书》；</b></span>；<br />
            2. 用户需按照页面提示选择正确的礼品卡面值。<span style="text-decoration:underline"><b style="color: #ff5c38">如有面值错误余额恕不退还，损失自行承担</b></span>！<br />
            3. 如因礼品卡卡号、卡密不正确或转让前已经使用等原因，导致礼品卡不能转让的，用户需自行解决或联系发卡业务运营商解决，本平台不介入处理；<br />
            4. 本平台应按照本协议的约定及页面提示，向用户提供礼品卡转让服务，并保证用户成功转让的资金及时转入其要销卡账户；<br />
            5. 鉴于互联网及网络交易的特殊性，本平台无法鉴别和判断虚拟交易或正在交易或已交易的礼品卡来源、权属、真伪、等权力属性、自然属性及其他各状况。因此，用户在交易前应加以仔细辨明，并慎重考虑和评估交易可能产生的各项风险。基于此，用户承诺，用户在本平台所从事的礼品卡交易活动属于合法的，用户所提供的礼品卡均具有合法正当的来源；<br />
            6. <b style="color: #ff5c38">经国家生效法律文书或行政处罚决定确认用户存在违法行为，或者本平台有足够事实依据可以认定用户存在违法或违反服务协议行为的，本平台有权选择下列一种或多种处理措施进行处理：</b><br />
            <span style="text-decoration:underline"><b>中止或终止用户网上交易权限</b></span>；<br />
            <span style="text-decoration:underline"><b>注销或删除用户帐户</b></span>；<br />
            <span style="text-decoration:underline"><b>在本平台公告上公布用户的违法行为</b></span>；<br />
            <span style="text-decoration:underline"><b>保留相应的交易记录提交公安机关处理</b></span>；<br /><br />
            <b style="color: #00bc6e">第四条：其他</b><br />
            1. 本协议适用中华人民共和国大陆地区法律。因本平台与用户就本协议的签订、履行或解释发生争议，双方应努力友好协商解决。如协商不成，本平台和用户同意由深圳宏信智联技术有限公司所在地法院管辖审理双方的纠纷或争议；<br />
            2. 本协议内容包括协议正文及所有本平台已经发布的或将来可能发布的服务协议、隐私政策、交易规则等条款与本协议具有同等效力，您均应遵照执行；<br />
            3. 本协议未尽事宜，以要销卡网站上公布的《要销卡礼品卡转让服务协议》等相关规则为准。<br />
        </p>
    </div>
    {if $is_mobile!=1}
    <div class="news_right">
        <div class="service_list">
            <a href="/about/service" target="_blank" rel=“nofollow”>服务协议</a>
            <a href="/about/protocol" class="active" target="_blank" rel=“nofollow”>转让协议</a>
            <a href="/about/ze" target="_blank" rel=“nofollow”>免责申明</a>
            <a href="/about/privacy" target="_blank" rel=“nofollow”>隐私政策</a>
            <div class="clear"></div>
        </div>
        <div class="line_mid"></div>
        <div class="news_right_ewm">
            <h3>关注要销卡</h3>
            <img src="/public/pc/picture/qrcode1.jpg" class="ewm" alt="要销卡二维码">
            <p>扫描上方二维码<br>掌握要销卡最新活动</p>
        </div>
    </div>
    <div class="clear"></div>
    {/if}
</div>
{if $is_mobile==1}
{include file="./common/mfooter"}
{else}
{include file="./common/footer"}
{/if}