{if $is_mobile==1}
{include file="./common/mheader"}
<div class="main_top">
    注册
    <a href="javascript:history.back(-1);" class="back"><img src="/public/wap/img/left_icon.png" alt=""></a>
    <a class="kf_right"><img src="/public/wap/img/kf_icon.png" alt=""></a>
</div>
{else}
{include file="./common/header"}
<link rel="stylesheet" type="text/css" href="/public/pc/css/login.css?v=20212"/>
{include file="./common/nav"}
{/if}
<div class="container" {if $is_mobile==0} style="width: 1400px;" {/if}>
    <div class="user_ins"></div>
    <div class="login_box">
        <div class="login_box_head"><a href="/sign/in">登 录</a><a href="#" class="active">注 册</a><div class="login_box_head_line"></div></div>
        <div class="login_form">
            <form id="formId" action="/sign/up/action" method="post">
                <div class="login_form_input">
                    <input type="text" name="username" value="" placeholder="请输入登录账户名" autocomplete="off" autofocus>
                </div>
                <div class="login_form_input">
                    <input type="text" name="tel" value="" placeholder="请输入注册手机号" autocomplete="off" autofocus>
                </div>
                <div class="login_form_input">
                    <input type="password" name="userpass" value="" placeholder="请输入登录密码(6-20位字母、数字)" autocomplete="new-password"><span class="pw_hide iconfont icon-browse"></span>
                </div>
                <div class="login_form_input">
                    <input type="text" name="telcode" value="" placeholder="短信验证码" autocomplete="off">
                    <a id="yzm_btn" class="yzm">获取验证码</a>
                </div>
                <div class="login_form_input">
                    <input type="text" name="qqnumber" value="" placeholder="请输入qq号" >
                </div>
                <div class="login_form_input">
                    <input type="text" name="email" value="" placeholder="请输入电子邮箱（尽量使用QQ邮箱）" >
                </div>
                <input type="hidden" name="xieyi" id="agree" value="">
                <div class="agree_p"><label class="agree_lab"><div class="agree_radio"><img src="../public/pc/picture/gou.png" alt="确认按钮"></div>已阅读并同意</label>「<a
                        href="/about/service">服务协议</a>」和「<a href="/about/privacy">隐私政策</a>」</div>
                <button type="button" class="reg_form_btn" id="submitBtn" onclick="submitForm()">同意协议并创建账户</button>
            </form>
        </div>
    </div>
</div>
<!--遮罩-->
<div class="mask">
    <!--  图形验证码弹窗  -->
    <div class="modal edit_modal">
        <div class="close"></div>
        <div class="title_txt"><h3>请输入验证码</h3><p></p></div>
        <div class="clear"></div>
        <div class="add_input">
            <input type="text" name="captcha" value="" placeholder="请输入验证码" autocomplete="off">
            <span class="captcha">
                <img height="40" onclick="this.src='/admin/index/verify'" src="/admin/index/verify" alt="验证码">
            </span>
        </div>
        <button class="add_btn" onclick="getTelCode()">确 定</button>
    </div>
    <!--注册协议模态窗-->
    <div class="modal big_modal zhuce">
        <div class="modal_main">
            <a href="/" class="close"></a>
            <h2>注册协议</h2><br>
            <h5 style="margin-bottom: 10px;line-height: 24px">【审慎阅读】您在申请注册流程中点击同意前，应当认真阅读以下协议。请您务必审慎阅读、充分理解协议中相关条款内容，其中包括： </h5>
            <p style="font-size: 14px;line-height: 24px;margin-bottom: 10px;">
                <strong style="text-decoration: underline">1、与您约定免除或限制责任的条款；</strong>
                <br><strong style="text-decoration: underline">2、与您约定法律适用和管辖的条款；</strong>
                <br><strong style="text-decoration: underline">3、其他以粗体下划线标识的重要条款。</strong>
                <br><br>如您对协议有任何疑问，可向平台客服咨询。当您按照注册页面提示填写信息、阅读并同意协议且完成全部注册程序后，即表示您已充分阅读、理解并接受协议的全部内容。如您因平台服务与发生争议的，适用《平台服务协议》处理。
            </p>
            <h5 style="margin-bottom: 10px;line-height: 24px">阅读协议的过程中，如果您不同意相关协议或其中任何条款约定，您应立即停止注册程序。</h5>
            <p><a href="/about/service" class="statement" target="_blank" rel=“nofollow”>《平台服务协议》</a></p>
            <p><a href="/about/protocol" class="statement" target="_blank" rel=“nofollow”>《礼品卡转让协议》</a></p>
            <p><a href="/about/ze" class="statement" target="_blank" rel=“nofollow”>《免责声明》</a></p>
            <p><a href="/about/privacy" class="statement" target="_blank" rel=“nofollow”>《隐私政策》</a></p>
            <div class="clear"></div>
            <a class="bottom_btn btn_right" style="width: 200px">我已阅读，同意协议</a>
        </div>
    </div>
</div>
<br />
{if $is_mobile==1}
{include file="./common/wap_beian"}
{/if}
<script src="/public/pc/js/register.js?v=2022" type="text/javascript" charset="utf-8"></script>


<script>

    $(function() {
        // 弹出协议框
        $('.mask').show();
        setTimeout(function () {
            $('.zhuce').addClass('modal_show');
        },100);
        setTimeout(function () {
            $('.zhuce').children('.modal_main').addClass('modal_main_show');
        },100);

        $('[name=username]').focus();
        $('[name=username]').blur(function(){ checkUserName(); });
        $('[name=tel]').blur(function(){ checkTel(); });
        $('[name=qqnumber]').blur(function(){ checkQQ(); });
        $('[name=email]').blur(function(){ checkEmail(); });
        $('[name=userpass]').blur(function(){ checkUserPass(); });
        $('[name=telcode]').blur(function(){ checkTelCode(); });
        $('[name=captcha]').keydown(function(e){
            var theEvent = e || window.event;
            var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
            if (code == 13) {  getTelCode();  }
        });
        $('[name=telcode]').keydown(function(e){
            var theEvent = e || window.event;
            var code = theEvent.keyCode || theEvent.which || theEvent.charCode;
            if (code == 13) {  submitForm();  }
        });
    });

    var clickAble = true;
    $('#yzm_btn').click(function() {
        if(!clickAble) { return; }
        if (!checkTel()) {
            return;
        }
        $('#captcha').attr('src', '/captcha?t=' + new Date());
        $('[name=captcha]').val('');
        $('.mask').show();
        setTimeout(function () {
            $('.edit_modal').addClass('modal_show');
        },100);
    });
    $('[for=agree]').click(function() { $(this).toggleClass('lab_on'); });


    /**
     * 提交
     */
    function submitForm() {
        var isFormOk =  checkUserName()&checkTel() & checkQQ() & checkEmail() & checkUserPass() & checkTelCode() ;
        if (!isFormOk) {
            return false;
        }
        if($('input[name=xieyi]').val() !== "ok") {
            layer.msg("请认真阅读并勾选：已阅读并同意「要销卡服务协议」和「隐私政策」",{icon:5});
            return false;
        }
        // $('#submitBtn').html('注册中...');
        // $('#submitBtn').attr('disabled', true);
        // $('#submitBtn').css('background', 'grey');

            $.post("/sign/up",$('#formId').serialize(),function(data){
                if(data.code==1){
                   // var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    layer.msg(data.msg, {icon: 1});
                    setTimeout(function(){
                        //修改成功刷新父页面
                        window.location.href='/sign/in';
                        // var gourl="{$Think.session.url}";
                        // if(gourl){
                        //     window.location.href=gourl;
                        // }else{
                        //     //添加页面直接返回上一页并刷新
                        //     window.location.href='/sign/in';
                        // }

                    },1000); //再执行关闭

                }else{
                    layer.msg(data.msg, {icon: 5});
                }
            },'json');
            return false;
    }

    /**
     * 发送短信验证码
     */
    function getTelCode() {
        if (!clickAble) {
            return false;
        } else {
            var $tel = $('[name=tel]');
            if ($tel.val() === '') {
                layer.msg('请填写手机号');
                return;
            }
            var $captcha = $('[name=captcha]');
            if ($captcha.val() === '') {
                layer.msg('请填写验证码');
                return;
            }
            $('.mask').hide();
            $('.modal').removeClass('modal_show');
            clickAble = false;
            var t = 100;
            $('#yzm_btn').html('重新获取（' + t-- + 's）');
            var inter = window.setInterval(function() {
                $('#yzm_btn').html('重新获取（' + t + 's）');
                $('#yzm_btn').attr('disabled', true);
                t = t - 1;
            }, 1000);
            window.setTimeout(function () {
                clickAble = true;
                window.clearInterval(inter)
                $('#yzm_btn').html('获取验证码');
            }, 1000 * t);
        }
        $.post("/pc/sign/sms", { tel:$tel.val(),type:3, code: $captcha.val() }, function (ret) {
            if (ret.code === 1) {
                layer.msg(ret.msg,{coin:1});
            } else {
                layer.msg(ret.msg,{coin:5});
                clickAble = true;
                window.clearInterval(inter)
                $('#yzm_btn').html('获取验证码');
            }
        },'json')
    }

    $('.agree_lab').click(function () {
        let xieyi = $('input[name=xieyi]').val();
        $('.agree_radio').toggleClass('active');
        if (xieyi === "ok") {
            $('input[name=xieyi]').val("");
        } else {
            $('input[name=xieyi]').val("ok");
        }
    });
    $('.sell_show').hover(function () {
        $('.sell_nav').stop().slideToggle(200);
    });
    $('.close').click(function () {
        $('.mask').hide();
        $('.modal').removeClass('modal_show');
    });
    $('.close,.btn_right').click(function () {
        $('.mask').hide();
        $('.modal').removeClass('modal_show');
        $('input[name=xieyi]').val("ok");
        $('.agree_radio').toggleClass('active');
    });
</script>
{if $is_mobile!=1}
{include file="./common/footer"}
{/if}
