body{background: #f4f7fa}
.user_ins{
    float: left;
    display: block;
    /*background: url("../images/user_ins.png");*/
    height: 469px;
    width: 468px;
    /*margin: 180px 234px 0 136px;*/
    background: url(../images/login_left.png) no-repeat center;
    width: 600px;
    height: 435px;
    margin: 5px 118px 0 136px;
}
.login_box{
    float: left;
    background: #fff;
    width: 440px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0 0 40px 0;
}
.login_box_head{
    position: relative;
    height: 80px;
    line-height: 80px;
    font-size: 20px;
    font-weight: 500;
    border-bottom: 1px solid #e5e8ee;
}
.login_box_head>a{
    position: relative;
    display: inline-block;
    width: 50%;
    color: #b3b9c7;
    transition: .2s;
}
.login_box_head>a:hover{color: #5673ff}
.login_box_head>a.active{
    color: #5673ff;
    font-weight: 600;
}
.login_box_head>a.active:before{
    content: '';
    display: block;
    width: 60px;
    height: 3px;
    background-color: #5673ff;
    position: absolute;
    left: 80px;
    bottom: 0;
}
.login_box_head_line{
    position: absolute;
    top: 20px;
    left: 50%;
    width: 1px;
    height: 40px;
    background-color: #e5e8ee;
}
.login_form{
    margin: 40px 30px 0 30px;
}
.login_form_input{
    position: relative;
    height: 60px;
    background-color: #f4f7fa;
    border-radius: 8px;
    margin-bottom: 30px;
    padding: 0 20px;
}
.login_form_input .yzm{
    display: block;
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    color: #5673ff;
    line-height: 60px;
    top: 0;
    right: 20px;
}
.login_form_input .yzm:before{
    position: absolute;
    content: '';
    display: block;
    width: 1px;
    height: 24px;
    background-color: #e5e8ee;
    left: -20px;
    top: 18px;
}
.login_form_input .yzm_img{
    position: absolute;
    right: 10px;
    top: 10px;
}
.login_form_input>input{
    height: 100%;
    width: 100%;
    border: none;
    background: none;
    font-size: 16px;
    color: #303753;
}
.login_form_btn{
    display: block;
    width: 100%;
    height: 60px;
    background-color: #5673ff;
    border-radius: 8px;
    margin-top: 50px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
}
.reg_form_btn{
    display: block;
    width: 100%;
    height: 60px;
    background-color: #5673ff;
    border-radius: 8px;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
}
.forget_pass{
    color: #b3b9c7;
    margin-top: 50px;
}
.forget_pass>a{
    color: #5673ff;
}
.login_foot{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 100px;
    background-color: #e9edf1;
    line-height: 100px;
}
.login_foot_l{
    float: left;
}
.login_foot_r{
    float: right;
    color: rgba(179, 185, 199, 0.61);
}
.login_foot_l>a{
    color: #b3b9c7;
    margin-right: 60px;
}
.agree_p{
    font-size: 14px;
    margin: 40px 0 15px 0;
    color: #767e91;
}
.agree_p a{
    color: #5673ff;
}
.agree_radio{
    display: inline-block;
    margin-right: 10px;
    width: 16px;
    height: 16px;
    line-height: 16px;
    text-align: center;
    background-color: #ffffff;
    border: solid 2px #e5e8ee;
    transition: .2s;
}
.agree_radio.active{
    background: #5673ff;
    border-color: #5673ff;
}
.agree_lab{
    cursor: pointer;
}
.captcha{
    position: absolute;
    right: -15px;
    top: 6px;
}
.pw_hide{position:absolute;right:10px;top:14px;color:#ccc;font-size:30px!important;cursor:pointer;transition:.2s}
.pw_hide:hover{color:#767e91}
.pw_show{color:#767e91}

.big_modal{
    width: 800px;
}
.bottom_btn{
    display: block;
    width: 160px;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    font-size: 18px;
    background: #fff;
}
.btn_right{
    float: right;
    border: 1px solid #5673ff;
    background: #5673ff;
    color: #fff;
}

.statement {
    font-size: 14px;
    line-height: 24px;
    margin-bottom: 10px;
    color: #2868f0
}