{include file="./common/headers"}
<style>
    .layui-form-label {
        /*width: 120px;*/
        /*float: left;*/
    }
    /*input[type="radio"]:enabled, input[type="radio"]:disabled{*/
    /*    opacity: inherit;*/
    /*}*/

</style>
<div class = 'outermost'>
    <form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">密码类型：</label>
        <div class="layui-input-block">
            <input type="radio" name="type" lay-filter="type" value="1" title="登录密码" {if $type=="1"}checked{/if}>
            <input type="radio" name="type" lay-filter="type"  value="2" title="提现密码" {if $type=="2"}checked{/if}>
        </div>
    </div>
    <div class="layui-form-item">
        <label id="newpwd" class="layui-form-label">{if $type=="2"}提现{else}新登录{/if}密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="txt_newpwd" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label id="relpwd" class="layui-form-label">确认{if $type=="2"}提现{else}登录{/if}密码：</label>
        <div class="layui-input-inline">
            <input type="password" name="txt_relpwd" value="" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">验证码：</label>
        <div class="layui-input-inline">
            <input type="text" name="captcha"  value="" autocomplete="off" class="layui-input">

        </div>
        <div class="layui-word-aux"><span class="captcha"><img height="40" id="tx_yzm" onclick="this.src='/admin/index/verify'"
                                                               src="/admin/index/verify" alt="验证码"></span></div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">短信验证码：</label>
        <div class="layui-input-inline">
            <input type="text" name="telcode" value="" autocomplete="off" class="layui-input">
        </div>
        <div class="layui-word-aux">
            <a id="yzm_btn" class="yzm layui-btn" onclick="getTelCode()">获取验证码</a>（<font id="tel" color="#ccc">{$Think.session.uinfo.mobile}</font>）
        </div>
    </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn" type='button' lay-submit lay-filter="formDemo">立即提交</button>
<!--                <button type="reset" class="layui-btn layui-btn-primary">重置</button>-->
            </div>
        </div>
    </form>
</div>
<script>
    var clickAble = true;
    var inter;
    /**
     * 发送短信验证码
     */
    function getTelCode() {

        if (!clickAble) {
            return false;
        } else {
            var $captcha = $('[name=captcha]');
            if ($captcha.val() === '') {
                layer.msg('请填写图形验证码');
                return;
            }
            clickAble = false;
            var t = 100;
            $('#yzm_btn').html('重新获取（' + t-- + 's）');
            inter = window.setInterval(function () {
                $('#yzm_btn').html('重新获取（' + t + 's）');
                $('#yzm_btn').attr('disabled', true);
                t = t - 1;
            }, 1000);
            window.setTimeout(function () {
                clickAble = true;
                window.clearInterval(inter)
                $('#yzm_btn').html('获取验证码');
            }, 1000 * t);
            if($(':radio[name="type"]:checked').val()==1){
                var type=5;
            }else{
                var type=6;
            }
            $.post("/pc/sign/sms", {tel: "{$Think.session.uinfo.mobile}", type: type, code: $captcha.val()}, function (ret) {
                if (ret.code === 1) {
                    layer.msg(ret.msg, {icon: 1});
                } else {
                    layer.msg(ret.msg, {icon: 5});
                    clickAble = true;
                    window.clearInterval(inter)
                    $('#yzm_btn').html('获取验证码');
                }
            },'json')
        }
    }
    layui.use('form', function(){
        var form = layui.form;
        form.on('radio(type)', function(data){
            var v=data.value;
            if(v==1){
               $('#newpwd').text('新登录密码：');
               $('#relpwd').text('确认登录密码：');
            }else{
                $('#newpwd').text('新提现密码：');
                $('#relpwd').text('确认提现密码：');
            }
            clickAble = true;
            window.clearInterval(inter);//清除定时器
            $('#yzm_btn').html('获取验证码');
            $('[name=captcha]').val('');
            $('[name=telcode]').val('');
            $('[name=txt_newpwd]').val('')
            $('[name=txt_relpwd]').val('')
            $('#tx_yzm').click();
        });
        form.on('submit(formDemo)', function (data) {
            if ($('[name=txt_newpwd]').val() === '') {
                layer.msg('请填写密码');
                return;
            }
            if ($('[name=txt_relpwd]').val() === '') {
                layer.msg('请填写确认密码');
                return;
            }
            if ($('[name=telcode]').val() === '') {
                layer.msg('请填写短信验证码');
                return;
            }
            $.post("/pc/User/setpwd", $('.layui-form').serialize(), function (data) {
                if (data.code == 1) {
                    var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                    layer.msg(data.msg, {
                        icon: 1,
                        time: 2000 //2秒关闭（如果不配置，默认是3秒）
                    }, function(){
                                if(index){
                                    parent.window.location.reload();
                                    parent.layer.close(index);
                                }else{
                                    window.location.reload();
                                }
                            });
                } else {
                    layer.msg(data.msg, {icon: 5});
                }
            },'json')
        })
    });
</script>
