{include file='common/header' /}
<style>
    .layui-table-cell {
        padding: 0 1px;
    }
    .tj_num{
        color: red;
        font-size: 16px;
        font-weight: bold;
    }
    .layui-elem-quote>div{
        margin-left: 15px;
    }
</style>
<body style='background: white;margin: 10px 10px 10px 10px; '>
<!-- 功能栏 -->
<form class="layui-form" id='form1' style='float: left;'>
    <div class="demoTable" style='margin-left: 10px;'>
        <div class="layui-inline" style="width: 300px;">
            <input type="text" class="layui-input" id="test1" placeholder="{:date('Y-m-d',time())} 00:00:00 - ">
        </div>
        <div class="layui-inline">
            <input type="text" id='txt_uid' placeholder="搜索用户ID" autocomplete="off"
                   class="layui-input" value="{$txt_uid}">
        </div>
        <div class="layui-inline">
            <select class="stype" id='stype' lay-search="">
                <option value="">选择卡种</option>
                {foreach $type_arr as $k=>$v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
        <div class="layui-inline">
            <select class="txt_tongdao" id='txt_tongdao' lay-search="">
                <option value="">选择通道</option>
                {foreach $tongdao_arr as $k=>$v}
                <option value="{$k}">{$v}</option>
                {/foreach}
            </select>
        </div>
    </div>
</form>
<button class='search layui-btn'>搜索</button>

<div style='clear:both'></div>
<blockquote class="layui-elem-quote">
    <div class="layui-inline">
        当日：
        平台盈利：<font color=red>{$day_total_yl?:0}</font>  &nbsp;&nbsp;
        {if $is_power==1}
        周盈利：<font color=red>{$tongji_res.zhouyingli?:0}</font> &nbsp;&nbsp;
        月盈利：<font color=red>{$tongji_res.yueyingli?:0}</font> &nbsp;&nbsp;
        上月盈利：<font color=red>{$tongji_res.shangyueyingli?:0} </font> &nbsp;&nbsp;
        总盈利：<font color=red>{$tongji_res.zongyingli?:0}  </font>
        {else}
        {/if}
    </div>
    <br>
    <div class="layui-inline">
        昨日：
        平台盈利：<font color=red>{$tongji_res.zuoyingli?:0}</font> &nbsp;&nbsp;
        销卡盈利：<font color=red>{$tongji_res.riyingli?:0}</font> &nbsp;&nbsp;
        平台所得：<font color=red>{$tongji_res.zuoptsuode?:0}</font> &nbsp;&nbsp;
        用户所得：<font color=red>{$tongji_res.zuoyhsuode?:0}</font> &nbsp;&nbsp;
<!--        上线利润：<font color=red>{$tongji_res.zuosxlirun}</font> &nbsp;&nbsp;-->
        用户汇总：<font color=red>{$tongji_res.zuoyhhuizong?:0}</font> &nbsp;&nbsp;
        盈利率：<font color=red>{$tongji_res.zuoyinglilv?:0}</font> &nbsp;&nbsp;
        销卡人数：<font color=red>{$tongji_res.zuoxiaokarenshu?:0}</font>  &nbsp;&nbsp;
        提现金额：<font color=red>{$tongji_res.zuotixianjine?:0}</font> &nbsp;&nbsp;
        新注册：<font color=red>{$tongji_res.zuoxinzhuce?:0}</font> &nbsp;&nbsp;
        未提现金额：<font color=red>{$tongji_res.zuoweitixian?:0}</font> &nbsp;&nbsp;
        未处理金额：<font color=red>{$tongji_res.zuoweichuli?:0}</font> &nbsp;
    </div>
</blockquote>
<table class="layui-hide" id="LAY_table_user" lay-filter="LAY_table_user"></table>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 }-->
<script type="text/html" id="time1">
    {{layui.util.toDateString(d.on_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
<script type="text/html" id="time2">
    {{layui.util.toDateString(d.last_login_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
<script>

    layui.use(['table', 'form', 'laydate'], function () {
        var table = layui.table, form = layui.form
        var laydate = layui.laydate;
        //日期范围
        laydate.render({
            elem: '#test1'
            ,type: 'datetime'
            , range: true
        });
        //方法级渲染
        table.render({
            elem: '#LAY_table_user'
            , url: "/admin/Finance/tj"
            ,totalRow:true
            , cols: [[
                // {checkbox: true, fixed: true}
                {field: 'uid', title: '用户ID',totalRowText:'统计：'}
                , {field: 'username', title: '用户名称'}
                , {field: 'total_num', title: '订单总数'}
                , {field: 'chenggong', style:'color:green',title: '成功总数'}
                , {field: 'shibai', style:'color:red',title: '失败总数'}
                , {field: 'chulizhong',style:'color:blue', title: '处理中'}
                , {field: 'succ_cash',style:'color:#eb0057', title: '销卡金额'}
                , {field: 'yidong',style:'color:#FF7B0E', title: '移动'}
                , {field: 'dianxin',style:'color:#FF7B0E', title: '电信'}
                , {field: 'liantong',style:'color:#1BB974', title: '联通'}
                , {field: 'pt_lirun',style:'color:#1BB974', title: '平台获利'}
            ]]
            , id: 'testReload'
            , page: true
            , limit: 20
            , done: function (res,curr,count) {
                tdTitle();
            }
        })
        $('.search').on('click', function () {
            //执行重载
            table.reload('testReload', {
                page: {
                    curr: 1 //重新从第 1 页开始
                }
                , where: {
                    search_time: $('#test1').val(),
                    txt_tongdao: $('#txt_tongdao').val(),
                    txt_uid: $('#txt_uid').val(),
                    stype: $('#stype').val(),
                }
            });
        });
        //监听删除编辑操作
        table.on('tool(LAY_table_user)', function (obj) {
            var data = obj.data; //获得当前行数据
            var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
            var tr = obj.tr; //获得当前行 tr 的DOM对象
            if (layEvent === 'edit') { //编辑
                var id = data.id;
                layer.open({
                    type: 2,
                    title: '编辑',
                    shadeClose: true,
                    area: ['80%', '80%'],
                    shade: 0.8,
                    content: '/admin/member/add_member?id=' + id,
                });
            }
            if (layEvent === 'del') {
                var id = data.id;
                var type = tr.find('.' + layEvent).attr('value');
                layer.confirm('您确定操作吗？', {
                    btn: ['确定', '取消'] //按钮
                }, function (index) {
                    $.post("/admin/Member/order_del", {id: id}, function (data) {
                        if (data.code == 1) {
                            layer.msg(data.msg, {icon: 1});
                            obj.del();
                        } else {
                            layer.msg(data.msg, {icon: 5});
                        }
                    }, 'json')
                    layer.close(index);
                }, function () {
                });
            }
        });
    });
</script>

</body>
</html>