<!--底部-->
<style>
  .foot_two{
  	text-align: center;
  }
</style>

<footer>
    {if $nav==1}
    <div class="f_se1">
        <div class="container">
            <div class="f_se1_left">
                <div class="f_se1_left_d1">CONTACT US</div>
                <div class="f_se1_left_d2" style="margin-bottom: 10px;">联系我们</div>
                <div class="f_se1_left_d3">
                    <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1828847938&site=qq&menu=yes">
                        <img src="/public/pc/picture/kefu.png" alt="QQ客服图标">在线咨询客服</a><br />工作时间：周一至周日09:00 - 23:00 <br /> 联系电话：400-075-5998
                </div>
                <div class="f_se1_left_d3" style="margin-top: 5px">公司地址：深圳市福田区福田街道岗厦社区彩田路3069号星河世纪A栋7楼</div>
            </div>
            <div class="f_se1_mid">
                <div class="f_se1_mid_d"><img src="/public/pc/picture/qq.png" alt="QQ客服图标">QQ客服	：<span>1828847938</span></div>
                <div class="f_se1_mid_d"><img src="/public/pc/picture/qq.png" alt="QQ客服图标">QQ客服	：<span>1828847938</span></div>
                <div class="f_se1_mid_d"><img src="/public/pc/picture/email.png" alt="邮箱图标">邮箱地址：<span>1828847938@qq.com</span></div>
            </div>
            <div class="f_se1_right"><img src="/public/pc/picture/qrcode1.jpg" alt="二维码" width="120"><br>关注微信公众号</div>
            <div class="clear"></div>
        </div>
        <div class="line_mid_white"></div>
    </div>
    {/if}
    <div class="f_se2">
        <div class="container">
            <div class="f_se2_left"><img src="/public/pc/images/nologo6.png" alt="logo"><p>Copyright Shenzhen Hongxin Zhilian Technology Co., Ltd</p></div>
            <div class="f_se2_right">
                <ul>
                    <li>
                        <p>关于我们</p>
                        <a href="/me" target="_blank"  rel=“nofollow”>公司简介</a><br>
                    </li>
                    <li>
                        <p>声明与协议</p>
                        <a href="/about/service" target="_blank"  rel=“nofollow”>服务协议</a><br>
                        <a href="/about/ze" target="_blank"  rel=“nofollow”>免责声明</a><br>
                        <a href="/about/privacy" target="_blank"  rel=“nofollow”>隐私保护</a>
                    </li>
                    
<!--                    <li>-->
<!--                        <p>合作洽谈</p>-->
<!--                        <a href="/company" target="_blank"  rel=“nofollow”>企业合作</a><br>-->
<!--                        <a href="/help/api" target="_blank"  rel=“nofollow”>API接口</a>-->
<!--                    </li>-->
                </ul>
            </div>
            <div class="clear"></div>
        </div>
    </div>
    <div class="f_se3">
        <ul class="authentication">
            <li><a rel="nofollow" target="_blank" href="http://beian.miit.gov.cn" rel="nofollow"><i class="iconimg iconimg-beian"></i><span>粤ICP备2020113587号</span></a></li>
            <li><a rel="nofollow" target="_blank" href="http://www.cyberpolice.cn/wfjb/" rel="nofollow"><i class="iconimg iconimg-weifa"></i><span>网络违法犯罪举报中心</span></a></li>
            <li><a rel="nofollow" target="_blank" href="http://www.12377.cn/" rel="nofollow"><i class="iconimg iconimg-buliang"></i><span>不良信息举报中心</span></a></li>
        </ul>
        <div class="clear"></div>
        <p>版权所有：深圳宏信智联 <img src="/public/pc/images/gwab.png">粤公网安备：44030402004298号 ICP证：粤ICP备2020113587号 </p>
        <p class="foot_sitemap">
            <a href="http://1xiaoka.com/sitemap.xml"></a>，
            <a href="http://1xiaoka.com/sitemap.xml"></a>
            <a href="http://1xiaoka.com/sitemap.xml"></a>
        </p>
    </div>
    <script>
        $('.header_btn').hover(function () {
            $('.user_nav').stop().slideToggle();
        });
    </script>
</footer>

</body>

