{include file='common/header' /} 
<body style='background: white;margin: 10px 10px 10px 10px; '> 

<!-- 功能栏 -->
<form class="layui-form" id='form1' style='float: left;'>
	<div class="demoTable" style='margin-left: 10px;'>
		<div class="layui-inline">
			<input type="text" id='search_name'  placeholder="请输入标题" autocomplete="off" class="layui-input" >
		</div>
	</div>
</form>
<button class='search layui-btn'>搜索</button>

<div style='clear:both'></div>

<table class="layui-hide" id="LAY_table_user" lay-filter="LAY_table_user"></table>

<script type="text/html" id="caozuo">
<!-- 这里的 checked 的状态只是演示 -->
<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">编辑</a>
<a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="del">删除</a>
</script>
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/html" id="change">
	<input type="checkbox" name="is_top" value="{{d.id}}" lay-skin="switch" lay-text="是|否" lay-filter="change" {{ d.is_top==1 ? 'checked' : '' }}>
</script>
<script type="text/html" id="pub_time">
	{{layui.util.toDateString(d.pub_time*1000, 'yyyy-MM-dd HH:mm:ss')}}
</script>
<script>

layui.use(['table','form'], function(){
  var table = layui.table,form = layui.form;
  
  //方法级渲染
  table.render({
    elem: '#LAY_table_user'
    ,url: "/admin/article/notice_list"
    ,cols: [[
      // {checkbox: true, fixed: true}
      {field:'id', title: 'ID',width:100,  unresize: true}
      ,{field:'title',width:250, title: '标题',unresize: true }
      ,{field:'content', title: '内容',unresize: true }
	 ,{field:'pub_user',width:120, title: '发布者',unresize: true }
	 ,{field:'is_top', width:120,title: '是否置顶',unresize: true ,templet: '#change'}
      ,{field:'pub_time',width:180, title: '发布时间',unresize: true ,sort: true,templet: '#pub_time'}
      ,{field:'', width:180, title: '操作',unresize: true,templet: '#caozuo' }
    ]]
    ,id: 'testReload'
    ,page: true
    ,limit: 20
	  , done: function (res) {
		  tdTitle();
	  }
  })
	$('.search').on('click', function(){
		//执行重载
		table.reload('testReload', {
			page: {
				curr: 1 //重新从第 1 页开始
			}
			,where: {
				search_name:$('#search_name').val(),

			}
		});
	});
	form.on('switch(change)', function(obj){
		var id = this.value;
		var status=obj.elem.checked;
		if (status== true) {
			type=1;
		}else{
			type=2;
		}
		$.post("/admin/article/notice_on",{id:id,type:type},function(data){
			layer.msg(data.msg);
		},'json')
	});
  	//监听删除编辑操作
    table.on('tool(LAY_table_user)', function(obj){
        var data = obj.data; //获得当前行数据
        var layEvent = obj.event; //获得 lay-event 对应的值（也可以是表头的 event 参数对应的值）
        var tr = obj.tr; //获得当前行 tr 的DOM对象
        if(layEvent === 'edit'){ //编辑
            var id = data.id;
			layer.open({
				type: 2,
				title:'编辑',
				shadeClose: true,
				area: ['80%', '80%'],
				shade: 0.8,
				content: '/admin/article/add_notice?id='+id,
			});
        }
		if(layEvent === 'del'){
			var id = data.id;
				layer.confirm('您确定删除吗？', {
					btn: ['确定','取消'] //按钮
				}, function(index){
					$.post( "/admin/Article/notice_del",{id:id},function(data){
						if(data.code == 1){
							layer.msg(data.msg, {icon: 1});
							obj.del();
						}else{
                            layer.msg(data.msg, {icon: 5});
						}
					},'json')
					layer.close(index);
				}, function(){
				});
		}
    });
});
</script>

</body>
</html>