{include file='common/header' /}
<link rel="stylesheet" href="__PUBLIC__/static/admin/kindeditor/themes/default/default.css"/>
<script charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="__PUBLIC__/static/admin/kindeditor/lang/zh_CN.js"></script>
<div class = 'outermost'>
<form class="layui-form" action="">

    <div class="layui-form-item">
        <label class="layui-form-label">真实姓名</label>
        <div class="layui-input-inline">
            <input type="text" name="truename" id='truename' value="{$item.truename}" lay-verify="required"
                   placeholder="请输入标题" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">手机号</label>
        <div class="layui-input-inline">
            <input type="text" name="mobile" id='mobile' value="{$item.mobile}" lay-verify="required"
                   placeholder="请输入手机号" autocomplete="off" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">登录密码</label>
        <div class="layui-input-inline">
            <input type="text" name="password" id='password' placeholder="需要修改时才填写" autocomplete="off" class="layui-input">
        </div>
<!--        <div class="layui-form-mid layui-word-aux"><span class='red'>*&nbsp;&nbsp;</span>需要修改时才填写</div>-->
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label">提现密码</label>
        <div class="layui-input-inline">
            <input type="text" name="tx_pwd" id='tx_pwd' placeholder="需要修改时才填写" autocomplete="off" class="layui-input">
        </div>
    </div>
    <input type="hidden" name='id' id='id' value="{$item.id}">
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" type='submit' lay-submit lay-filter="formDemo">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</div>

<script>
    //Demo
    layui.use('form', function () {
        var form = layui.form;

        //监听提交
        layui.use(['layer', 'form', 'table'], function () {
            var layer = layui.layer, form = layui.form, table = layui.table;
            //监听提交
            form.on('submit(formDemo)', function (data) {
                $.post("/admin/Member/add_member", $('.layui-form').serialize(), function (data) {
                    if (data.code == 1) {
                        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
                        layer.msg(data.msg, {icon: 1});
                        setTimeout(function () {
                            parent.layer.close(index);
                            //修改成功刷新父页面
                            if ($('#id').val()) {
                                window.parent.location.reload();
                            } else {
                                //添加页面直接返回上一页并刷新
                                window.location.reload();
                            }

                        }, 1000); //再执行关闭

                    } else {
                        layer.msg(data.msg, {icon: 5});
                    }
                }, 'json')
                return false;
            });
        });
    });
</script>
<script>
    KindEditor.ready(function (K) {
        kd = K.create('.tid', {
            'resizeType': '0',
            'items': [
                'source', 'preview', '|', 'justifyleft', 'justifycenter', 'justifyright', 'justifyfull',
                , '|', 'fullscreen', '|', 'fontname', 'fontsize', 'forecolor', 'bold', 'italic', 'underline', '|', 'image', 'multiimage', '|', 'emoticons', 'baidumap', '|', 'link', 'unlink'
            ],
        });
    });

    KindEditor.ready(function (K) {
        var editor1 = K.create('textarea[name="content1"]', {
            allowFileManager: true,
            filterMode: false,
            afterBlur: function () {
                this.sync();
            }
        });
    });

</script>